body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1C2127;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full height */
}

.container {
    padding: 20px;
    flex: 1; /* Allow container to grow and take available space */
}

header {
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 24px; 
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

input[type="text"] {
    padding: 5px;
}

form button{
    background-color: #12171D;
    color: #fff;
}


input {
    background-color: #12171D;
    outline: none;
}

.header_gravatar{
    background-color: #12171D;
    padding: 4px 8px;
    border-radius: 8px;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.card {
    background-color: #20252B;
    border-radius: 8px;
    padding: 8px;
}

.main_chart {
    width: 50%;
}

.main_orderbook {
    width: 20%;
}

.main_buy_and_sell{
    width: 30%;
}

.tradingPairs {
    width: 68.25%;
}

/* Add this to your existing style.css file */

#trading-pairs-section {
    display: flex;
    margin: 20px 0;
}

#trading-pairs-dropdown {
    margin-right: 20px; /* Space between dropdown and time interval buttons */
}

#time-intervals {
    display: flex; /* Use flexbox for horizontal alignment */
}

.time-interval {
    margin-right: 10px; /* Space between time interval buttons */
}




/* Footer Styles */
footer {
    background-color: #333; /* Add background color for visibility */
    color: white; 
    text-align: center; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; /* Ensure footer spans full width */
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start; /* Align items to start in smaller screens */
    }
}
